{% extends 'layout.html' %}

{% block title %}Notes{% endblock %}

{% block content %}
  <ul class="messages">
  	<li class="message"><b>Notes...</b></li>
    {% for note in notes %}
      <li class="message">
      	{{ note.body }}
     	<span class="message-date">{{ note.created_at.toDateString() }}</span>
      </li>
    {% endfor %}
  </ul>
  <form action="/messages" method="post" id="message-form">
    <textarea placeholder="Insert a message" name="message"
      onkeydown="if (event.keyCode == 13) document.getElementById('message-form').submit();"></textarea>
  </form>
{% endblock %}