{% extends 'layout.html' %}

{% block title %}Notes{% endblock %}

{% block content %}

  

  {% if goal %}
    <ul>
  	  <li class="goal"><b>Today's Goal: </b></li>
      <li class="goal">
      	[ {% if goal.completed %}<b>X</b>{% else %} &nbsp; {% endif %} ]
      	{{ goal.body }}</li>
    </ul>
  {% endif %}

  <ul class="messages">  	
  	<li><b>Notes...</b></li>

  	{% if tags.length > 0 %}
  	<li>
	  	{% for tag in tags %}
	  	  <span class="tag tag-header" data-tag="{{tag}}">#{{tag}}</span>
	  	{% endfor %}
	</li>
	{% endif %}

    {% for note in notes %}
      <li class="message" data-tag="{{note.tag}}">
      	{% if note.tag %}<span class="tag">#{{note.tag}}</span>{% endif %}
      	{{ note.body }}
        {% for medium in note.media %}
          <img src="{{medium}}" width="50"/>
        {% endfor %}
     	<span class="message-date">{{ note.created_at.toDateString() }}</span>
      </li>
    {% endfor %}
  </ul>
  <form action="/messages" method="post" id="message-form">
    <textarea placeholder="Insert a message" name="message"
      onkeydown="if (event.keyCode == 13) document.getElementById('message-form').submit();"></textarea>
  </form>

  <script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script> 
  <script type="text/javascript" src="/scripts/main.js"></script>


{% endblock %}